boto3==1.7.72
botocore==1.10.72
cycler==0.10.0
docutils==0.14
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.0
pandas==0.23.4
protobuf==3.18.3
protobuf3-to-dict==0.1.5
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
s3transfer==0.1.13
sagemaker==1.9.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
urllib3==1.23
xgboost==0.80
